<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
Congratulations!
<p>Congratulations:  <span th:text="${name}"></span> </p>
You are old enough (<span th:text="${age}"></span> to sign up for this site.
</body>
</html>