<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Title</title>
</head>
<body>

<p>Hallo</p>

<p th:each="student : ${students}">
    <div th:text="${students.age}"></div>
    <div th:text="${students.name}"></div>
</p>


</body>
</html>