<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Title</title>
</head>
<body>

    <a th:href="@{/(locale=nl)}" href="/locale=nl">NL</a>
    <a th:href="@{/(locale=en)}" href="/locale=en">EN</a>
    <span th:text="#{welcome.message}">Hola</span>
    <p th:text="#{welcome.date} + ${serverTime}"></p>

    <form action="#" th:action="@{'/' + ${#locale.language} + '/addStudents'}" th:object="${student}" method="post">
        ID: <input type="text" th:field="*{age}"/>
        <td th:if="${#fields.hasErrors('age')}" th:text="#{welcome.age_error}">Age Error</td>
        Name: <input type="text" th:field="*{name}"/>
        <td th:if="${#fields.hasErrors('name')}" th:text="#{welcome.name_error}">Name Error</td>
        <td><button type="submit">Submit</button></td>

    </form>

    <table>
        <tr th:each="student: ${students}">
            <td th:text="${student.age}" />
            <td th:text="${student.name}"/>

        </tr>
    </table>

</body>
</html>